/* ==============================================
Header
============================================== */

.header{
    display: flex;
    background-color:#3F9E7F;
    /* background-color:blue; */
    padding-left:2%;
    padding-right:2%;
}

.logo{
    width: 200px;
    height: 155px;
    margin-right:1%;
    padding-top:2%;
    /* background-color: purple; */
    text-align:center;

}

.logo-image{
    width: 125px;
    height: 125px;
}

.nav-bar{
    text-align:right;
    width: auto;
    flex-grow:1;
    height: 75px;
    margin-left:auto;
    margin-right:30px;
    margin-bottom:50px;
    padding-top: 20px;
    padding-left:60%;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: black;
    /* background-color:aquamarine; */
    display: flex;
}



.nav-button{
    cursor:pointer;
    font-size: large;
    font-family:'Courier New', monospace;
    font-weight:600;
    border-style:hidden;
    background-color:#3F9E7F;
}
.nav-button-selected{
    cursor:pointer;
    background-color:yellow;
    font-size: large;
    border-style:hidden;
}

.nav-selection{
    margin:8px;
    /* background-color:chartreuse; */
    text-align:center;
    padding:20px;
}

