/* ==============================================
Header
============================================== */

.header{
    display: flex;
    background-color:#3F9E7F;
    /* background-color:blue; */
    padding-left:1%;
    padding-right:2%;
    box-sizing:border-box;
}

.logo{
    width: 200px;
    height: 155px;
    margin-right:1%;
    padding-top:2%;
    /* background-color: purple; */
    text-align:center;

}

.logo-image{
    width: 125px;
    height: 125px;
}

nav {

    display: flex;
    justify-content:end;
    align-items:center;
    min-height: 8vh;
    height:fit-content;
    flex-grow:1;
    padding-top:30px;
    background-color:#3F9E7F;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: black;
    font-family: 'Courier New', monospace;
    margin-left:auto;
  }
  
  .heading {
  
    color: white;
  
    text-transform: uppercase;
  
    letter-spacing: 5px;
  
    font-size: 20px;
/* 
    background-color:chartreuse; */
  
  }
  
  .nav-links {
  
    display: flex;
  
    justify-content: right;
  
    width: 30%;
/* 
    background-color:coral */
  
  }
  
  .nav-links li {
  
    list-style: none;
  
  }
  
  .nav-links a{
  
    color: black;
  
    text-decoration: none;
  
    letter-spacing: 3px;
  
    font-weight: bold;
  
    font-size: 16px;
  
    padding: 14px 16px;
  
  }
  
  .nav-links a:hover:not(.active) {
  
    color:aliceblue;
  
  }
  
  .nav-links li a.active {
  
    background-color: #4caf50;
  
  }
