nav {

    display: flex;
  
    justify-content: space-around;
  
    align-items: center;
  
    min-height: 8vh;
  
    background-color:#3F9E7F;
  
    font-family: 'Courier New', monospace;
  
  }
  
  .heading {
  
    color: white;
  
    text-transform: uppercase;
  
    letter-spacing: 5px;
  
    font-size: 20px;
  
  }
  
  .nav-links {
  
    display: flex;
  
    justify-content: space-around;
  
    width: 30%;
  
  }
  
  .nav-links li {
  
    list-style: none;
  
  }
  
  .nav-links a{
  
    color: black;
  
    text-decoration: none;
  
    letter-spacing: 3px;
  
    font-weight: bold;
  
    font-size: 16px;
  
    padding: 14px 16px;
  
  }
  
  .nav-links a:hover:not(.active) {
  
    color:aliceblue;
  
  }
  
  .nav-links li a.active {
  
    background-color: #4caf50;
  
  }


/* ==============================================
Header
============================================== */

.header{
    display: flex;
    background-color:#3F9E7F;
    /* background-color:blue; */
    padding-left:2%;
    padding-right:5%;
}

.logo{
    width: 200px;
    height: 155px;
    margin-right:1%;
    padding-top:2%;
    /* background-color: purple; */
    text-align:center;

}

.logo-image{
    width: 125px;
    height: 125px;
}

.nav-bar{
    text-align:right;
    width: 60%;
    height: 75px;
    margin-left:auto;
    margin-right:3%;
    margin-bottom:50px;
    padding-top: 20px;
    padding-left:60%;
    padding-right:1%;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: black;
    /* background-color:aquamarine; */
    display: flex;
}



.nav-button{
    cursor:pointer;
    font-size: large;
    font-family:'Courier New', monospace;
    font-weight:600;
    border-style:hidden;
    background-color:#3F9E7F;
}
.nav-button-selected{
    cursor:pointer;
    background-color:yellow;
    font-size: large;
    border-style:hidden;
}

.nav-selection{
    margin:8px;
    /* background-color:chartreuse; */
    text-align:center;
    padding:20px;
}



/* ===============================
Intro
=============================== */


.intro{
    width:auto;
    height:auto;
    background-color:#3F9E7F;
    /* background-color:aqua; */
    display:flex;
}

.spline-design{
    /* background-color:blueviolet; */
    width:340%;
    height:800px;
}
.intro-text{
    /* background-color:blueviolet; */
    font-family:'Bookman', 'URW Bookman L', serif;
    padding-top:2%;
    padding-left:5%;
    padding-right:5%;
}

.intro-title{
    font-family:'Courier New', monospace;
    margin-bottom:50px;
    font-size:350%;
}

.intro-desc{
    font-size:200%;
}